In [1]:
import pandas as pd

In [2]:
time= ["Monday: Doctor's Appointment at 2:45 pm",
       "Tuesday: The dentist Appointment at 11:00am",
       "Wedmensday: At 7:00pm there is a football match",
       "Thursday: Work from Home"]
df= pd.DataFrame(time, columns=['text'])
df

                                              text
0          Monday: Doctor's Appointment at 2:45 pm
1      Tuesday: The dentist Appointment at 11:00am
2  Wedmensday: At 7:00pm there is a football match
3                         Thursday: Work from Home

In [3]:
# to show number of character in each line
df['text'].str.len()

0    39
1    43
2    47
3    24
Name: text, dtype: int64

In [4]:
#to split the sentence in words and then count the number of words
df['text'].str.split(' ').str.len()

0    6
1    6
2    8
3    4
Name: text, dtype: int64

In [6]:
#to find if the line contains a given letter
df['text'].str.contains('Appointment')

0     True
1     True
2    False
3    False
Name: text, dtype: bool

In [7]:
#to extract the given item
df['text'].str.extract(r'(\d?\d):(\d\d)')

     0    1
0    2   45
1   11   00
2    7   00
3  NaN  NaN

In [8]:
#to extract all the given data from the given item
df['text'].str.extractall(r'((\d?\d):(\d\d) ?([ap]m))')

               0   1   2   3
  match
0 0      2:45 pm   2  45  pm
1 0      11:00am  11  00  am
2 0       7:00pm   7  00  pm

In [9]:
#to extract all the given data from the given item with changed names
df['text'].str.extractall(r'(?P<time>(?P<Hour>\d?\d):(?P<Minutes>\d\d) ?(?P<Periods>[ap]m))')

            time Hour Minutes Periods
  match
0 0      2:45 pm    2      45      pm
1 0      11:00am   11      00      am
2 0       7:00pm    7      00      pm