In [1]:
text= '"Ethics are built right into the ideals and objectives of the United Nation " #UNSG @ NY Society for Ethical Culture bitly/2guVelr @UN @UN_Women'
text1= text.split(" ")
text1

['"Ethics',
 'are',
 'built',
 'right',
 'into',
 'the',
 'ideals',
 'and',
 'objectives',
 'of',
 'the',
 'United',
 'Nation',
 '"',
 '#UNSG',
 '@',
 'NY',
 'Society',
 'for',
 'Ethical',
 'Culture',
 'bitly/2guVelr',
 '@UN',
 '@UN_Women']

In [2]:
#for tying out hashtags
[w for w in text1 if w.startswith('#')]

['#UNSG']

In [3]:
#importing regular expression module
import re

In [4]:
[w for w in text1 if re.search('@[A-Za-z0-9_]+',w)]

['@UN', '@UN_Women']

In [5]:
#we can write above equation by the following way
[w for w in text1 if re.search('@\w+',w)]

['@UN', '@UN_Women']

In [6]:
text2= 'ouagadougou'
# to find all vowels
[w for w in text2 if re.findall(r'[aeiou]',w)]

['o', 'u', 'a', 'a', 'o', 'u', 'o', 'u']

In [7]:
# to find all consonents
[w for w in text2 if re.findall(r'[^aeiou]',w)]

['g', 'd', 'g']

In [11]:
# regular expression for dates
date= '1/3/2016\n10/12/2013\n18-9-2018\n23 Oct 2012\n 23 October 2002\nOct 23, 2002\n October 23, 2002\n10-23-2002\n'

In [12]:
# function to find the date with two digit number in date column
re.findall('\d{2}[/-]\d{2}[/-]\d{4}',date)

['10/12/2013', '10-23-2002']

In [13]:
# function to find the all the date with numerics 
re.findall('\d{1,2}[/-]\d{1,2}[/-]\d{2,4}',date)

['1/3/2016', '10/12/2013', '18-9-2018', '10-23-2002']

In [17]:
# function to find the date with alphabet as month
re.findall('\d{1,2} (?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \d{4}',date)

['23 Oct 2012']

In [19]:
# function to find the date with alphabet as month with the complete name of the month
re.findall(r'\d{1,2} (?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]* \d{4}',date)

['23 Oct 2012', '23 October 2002']